<header>
	<div class="navbar navbar-fixed-top">
 
		<div class="navbar-inverse main-header">
			<div class="navbar-inner">
				<a class="brand" href="#">{{partials.header.appTitle}}</a>
			</div>
			<div class="well serach-bar">
				<div class="span3">
					<img src="../themes/img/logo.png">
				</div>
				<div class="span9">
					<div class="serach-box raw-fluid input-append">
						<input type="text" id="search-text">
						<a href="#" class="btn"><i class="icon-search"> </i></a>
					</div>

				</div>
			</div>

		</div>

	</div>

</header>