body{
	background-image: url("../img/background_stripes.gif");
	padding-top: 112px;	
}


/*------HEADER-----*/

header .navbar{
	margin-bottom: -20px;
}

header .navbar-inner{
	height: 20px;
	min-height: 30px;
	border-radius: 0px;
}

header .navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 200;
    margin-left: -30px;
    padding: 5px 40px;
    text-shadow: 0;
    border-radius: 0px;
}



/*------SEARCH-----*/

.serach-bar{
	padding-top: 10px;
	padding-bottom: 50px;
}

.serach-box{
	padding-top:15px;
} 


#search-text{
	width: 500px;
}



/*------CONTAINER-----*/

.container{
	background-color: #FFFFFF;
	padding: 0px;
}

.block{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE #DDDDDD #BBBBBB;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);  
    margin: 5px;
    clear:both;    
}

.block-header{
	font-weight: bold;
	font-size: 16px;
	margin: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid #EEEEEE;
}

.block-body{	
	margin: 10px;
	padding-left: 0px;
	padding-right: 0px;
}




/*------DEVICE-----*/

.device-image{
	height: 100px;
}
.device-item{
	padding-right: 30px;
}

#devices-bar{
	width:450px;
}

#device-list-close{
	cursor: default;
}


/*------APPS-----*/

.app-icon{
	width:75px;
}

.app-icon-small{
	width:40px;
}

.block .span2 {
    width: 140px;
}

.app-info{
	font-size: xx-small;
}

.app-block{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE #DDDDDD #BBBBBB;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
    margin-bottom: 10px;     
}

#all-app-list .block-header{
	padding-bottom: 20px;
}


/*------FILE UPLOAD-----*/

.fileupload{
	float:left;
}

.fileupload-preview{
	width: 160px;
	height: 240px;
}

.fileupload-preview-icon{
	width: 160px;
	height: 160px;
}

.fileupload-preview-banner{
	width: 512px;
	height: 160px;
}


.fileupload-image{
	
}

.form-buttons{
	padding-top: 10px;
}
