<div class="container">

	<div class="raw-fluid">
		<div id="all-app-list" class="block">
			<div class="block-header">
				<div id="tab" class="btn-group" data-toggle="buttons-radio">
					<a href="#allapps" class="btn active" data-toggle="tab">All Apps</a>
					<a href="#allappspublished" class="btn" data-toggle="tab">Live</a>
					<a href="#allappspending" class="btn" data-toggle="tab">In-Review</a>
					<a href="#allappsrejected" class="btn" data-toggle="tab">Rejected</a>					
				</div>

				<div class="pull-right">
					<a href="upload" class="btn btn-info"><i class=" icon-plus-sign icon-white"> </i> Add Application</a>
				</div>
			</div>
			<div class="container-fluid raw-fluid block-body">

				<div class="tab-content">
					
					<div class="tab-pane active" id="allapps">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Platform</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list">

							</tbody>
						</table>
					</div>
					
					
					<div class="tab-pane" id="allappspublished">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Platform</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list-published">

							</tbody>
						</table>
					</div>
					
					
					<div class="tab-pane" id="allappsrejected">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Platform</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list-rejected">

							</tbody>
						</table>
					</div>
					
					
					<div class="tab-pane" id="allappspending">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Platform</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list-pending">

							</tbody>
						</table>
					</div>
					
					
					
					
					
				</div>

			</div>
		</div>
	</div>

</div>