<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#">PUBLISHER</a>			
			<ul class="nav pull-right">


				<li class="search">
					<form class="navbar-search pull-left">
						<input type="text" class="search-query" placeholder="Search" style="width:300px">
					</form>
				</li> 
				<li class="dropdown"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#"><i
						class="icon-user icon-white"> </i> Welcome
						DILAN <b class="caret icon-white"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">My Devices</a></li>
						<li><a href="">Logout</a>
						</li>
					</ul></li> 					
					
			</ul>

		</div>

	</div>

</header>