<div class="container">

	<div class="raw-fluid">
		<div id="all-app-list" class="block">
			<div class="block-header">
				<div id="tab" class="btn-group" data-toggle="buttons-radio">
					<a href="#allapps" class="btn active" data-toggle="tab">All Apps</a>
					<a href="#allappspublished" class="btn" data-toggle="tab">Live</a>
					<a href="#allappsrejected" class="btn" data-toggle="tab">Rejected</a>
					<a href="#allappspending" class="btn" data-toggle="tab">Pending Review</a>
				</div>

				<div class="pull-right">
					<a href="publish" class="btn btn-info"><i class=" icon-plus-sign icon-white"> </i> Add Application</a>
				</div>
			</div>
			<div class="container-fluid raw-fluid block-body">

				<div class="tab-content">
					
					<div class="tab-pane active" id="allapps">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list">

							</tbody>
						</table>
					</div>
					
					
					<div class="tab-pane" id="allappspublished">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list-published">

							</tbody>
						</table>
					</div>
					
					
					<div class="tab-pane" id="allappsrejected">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Version</th>
									<th>Status</th>
									<th>Last Update</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="publisher-app-list-rejected">

							</tbody>
						</table>
					</div>
					
					
					<div class="tab-pane" id="allappspending">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>App</th>
									<th>Category</th>
									<th>Total Installs</th>
									<th>Rating</th>
									<th>Status</th>
									<th>Last Update</th>
									<th> </th>
								</tr>
							</thead>
							<tbody id="publisher-app-list-pending">

							</tbody>
						</table>
					</div>
					
					
					
					
					
				</div>

			</div>
		</div>
	</div>

</div>

<script id="hbs-publisher-app-list" type="text/x-handlebars-template">
	[{#apps}]
	<tr>
	<td><img class="app-icon-small" src="[{attributes.images_icon}]"> [{attributes.overview_name}]</td>
	<td>[{attributes.overview_category}]</td>
	<td>[{attributes.overview_total_installs}]0</td>
	<td>[{attributes.overview_version}]</td>
	<td>[{attributes.overview_status}]</td>
	<td>[{#lastdate attributes.overview_status attributes}][{/lastdate}]</td>
	<td>
	
	[{#equal attributes.overview_status 'PUBLISHED'}]
		<input data-app="[{id}]" data-type="update" type="button" class="btn btn-info btn-command" value="Update">
		<input data-app="[{id}]" data-type="remove" type="button" class="btn btn-danger btn-command" value="Remove">	
	[{/equal}]
	
	[{#equal attributes.overview_status 'CREATED'}]
		<input data-app="[{id}]" data-type="update" type="button" class="btn btn-info btn-command" value="Update">
		<input data-app="[{id}]" data-type="publish" type="button" class="btn btn-success btn-command" value="Publish">
	[{/equal}]
	
	[{#equal attributes.overview_status 'REJECTED'}]
		<input data-app="[{id}]" data-type="update" type="button" class="btn btn-info btn-command" value="Update">
		<input data-app="[{id}]" data-type="publish" type="button" class="btn btn-success btn-command" value="Publish">
	[{/equal}]
	
		
	</td>
	</tr>
	[{/apps}]
</script>